@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@300;400;500;600&family=Spline+Sans+Mono:wght@400;500&display=swap');

/* Basic styling start */

html,
body {
  height: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  flex: 1 0 auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 1rem 2rem;
  height: 100%;
}

/* Basic styling end */

h1 {
  font-size: 2.125rem;
  margin-bottom: 1.25rem;
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.625rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.375rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5rem;
}

a,
a:hover,
a:focus,
a:active {
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
}

li {
  font-size: 1rem;
  list-style-position: inside;
  margin-bottom: 1.2rem;
}
