@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'Spline Sans Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Resetting default styling */

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Markdown-me-app styling */

.markdown-me-app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 32px 32px;
  background-color: #1f2023;
  min-height: 100vh;
  color: #fff;
}

li {
  list-style-position: inside;
}

h1 {
  margin-bottom: 24px;
}

h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.app-link {
  color: #61dafb;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 8px;
  font-size: 18px;
}

/* Editor styling */

#editor {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 16px;
  margin-top: 16px;
}

.editor-input {
  width: 50%;
}

.editor-input textarea {
  width: 100%;
  height: 60vh;
  padding: 16px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
}

.editor-input textarea:focus {
  outline: none;
}

.editor-view {
  width: 50%;
  padding: 0px 16px;
}

@media (max-width: 768px) {
  #editor {
    flex-direction: column;
  }

  .editor-input {
    width: 100%;
  }

  .editor-view {
    width: 100%;
    padding: 0px 16px;
  }
}
